.card{
    width: 400px;
    height: 250px;
    margin: 50px;
    background: white;
    padding: 10px;
    border-radius: 15px;
}

.header{
    text-align: center;
    /* margin-top: 14px; */
    display: inline-block;
    margin: 4px auto;
    width: 100%;
}

hr{
    margin: 5px 15% 20px 15%;
    /* height: 1px; */
    border: 1px solid #ccc
}