source https://nuget.org/api/v2

nuget NServiceBus 7.0.0-rc0001 rc
nuget NServiceBus.SqlServer 4.0.0-rc0003 rc
nuget NServiceBus.Persistence.Sql 4.0.0-rc0003 rc
nuget NServiceBus.Autofac 7.0.0-rc0001 rc

nuget Autofac
nuget Autofac.Extensions.DependencyInjection

nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.Configuration.Json
nuget Microsoft.Extensions.Logging
nuget Microsoft.Extensions.Logging.AzureAppServices
nuget Microsoft.Extensions.Logging.Debug
nuget Microsoft.Extensions.Logging.Console

nuget Swashbuckle.AspNetCore
nuget System.Data.SqlClient
nuget Newtonsoft.Json

nuget NUnit
nuget NUnit3TestAdapter
nuget Microsoft.AspNetCore.TestHost 

clitool Microsoft.NET.Test.Sdk
clitool Microsoft.DotNet.Watcher.Tools