source https://nuget.org/api/v2

nuget NServiceBus 7.0.0-rc0001 rc
nuget NServiceBus.SqlServer 4.0.0-rc0003 rc
nuget NServiceBus.Persistence.Sql 4.0.0-rc0003 rc
nuget NServiceBus.Autofac 7.0.0-rc0001 rc

nuget Autofac
nuget Autofac.Extensions.DependencyInjection

nuget Swashbuckle.AspNetCore
nuget System.Data.SqlClient
nuget Newtonsoft.Json

nuget NUnit
nuget NUnit3TestAdapter
nuget Microsoft.AspNetCore.TestHost 

clitool Microsoft.NET.Test.Sdk
clitool Microsoft.DotNet.Watcher.Tools