.form {
    background-color: whitesmoke;
    width: 0px;
    position: fixed;
    float: right;
    z-index: 100;
    -webkit-transition: width .5s;
    transition: width .5s;
    height: 100%;
    top: 0;
    right: 0;

  &.show {
    width: 50%;
  }
}  

.button-container{
    margin: 20px 0px 20px 162px;
}


h2{
    text-align: center;
    margin: 20px 0;
}

